<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" id="loadingModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
          <p class="fs-3 fw-bold" id="accentText">AGUARDE!</p>
          <span class="text-black"><i class="fa fa-spin fa-spinner"></i> Calculando suas métricas... </span>
        </div>
    </div>
  </div>
</div>
