

<div class="formGroup">
  <label for="q3" id="likert-enunciate">
    3. Você tem algum <b id="accentText"> SISTEMA DE AVALIAÇÃO DE SATISFAÇÃO </b> dos seus
    clientes? <span id="req">*</span>
  </label>

  <ul class="likert">
    <li id="likert-caption">
      Você não tem nenhum sistema e/ou os resultados são muito ruins.
    </li>
    <div id="likert-values">
      <li>1<input type="radio" name="q3" value="1" required /></li>
      <li>2<input type="radio" name="q3" value="2" /></li>
      <li>3<input type="radio" name="q3" value="3" /></li>
      <li>4<input type="radio" name="q3" value="4" /></li>
      <li>5<input type="radio" name="q3" value="5" /></li>
      <li>6<input type="radio" name="q3" value="6" /></li>
      <li>7<input type="radio" name="q3" value="7" /></li>
      <li>8<input type="radio" name="q3" value="8" /></li>
      <li>9<input type="radio" name="q3" value="9" /></li>
      <li>10<input type="radio" name="q3" value="10" /></li>
    </div>
    <li id="likert-caption">
      Você tem um sistema 100% estruturado, com avaliações mensais e os
      resultados são excelentes.
    </li>
  </ul>
</div>

<div class="formGroup">
  <label for="q4" id="likert-enunciate">
    4. Vamos lá, como anda a sua empresa quanto <b id="accentText">INOVAÇÃO?</b>
    <span id="req">*</span>
  </label>

  <ul class="likert">
    <li id="likert-caption">
      Na sua empresa não existe uma cultura de inovação e pouquíssimas coisas
      mudam ao longo do tempo.
    </li>
    <div id="likert-values">
      <li>1<input type="radio" name="q4" value="1" required /></li>
      <li>2<input type="radio" name="q4" value="2" /></li>
      <li>3<input type="radio" name="q4" value="3" /></li>
      <li>4<input type="radio" name="q4" value="4" /></li>
      <li>5<input type="radio" name="q4" value="5" /></li>
      <li>6<input type="radio" name="q4" value="6" /></li>
      <li>7<input type="radio" name="q4" value="7" /></li>
      <li>8<input type="radio" name="q4" value="8" /></li>
      <li>9<input type="radio" name="q4" value="9" /></li>
      <li>10<input type="radio" name="q4" value="10" /></li>
    </div>
    <li id="likert-caption">
      A sua empresa está sempre inovando (tanto nos produtos/serviços como nos
      processos produtivos) e essas inovações impactam positivamente no seu
      faturamento.
    </li>
  </ul>
</div>

<div class="formGroup">
  <label for="q5" id="likert-enunciate">
    5. E o <b id="accentText">POSICIONAMENTO DIGITAL</b> da sua empresa. <span id="req">*</span>
  </label>

  <ul class="likert">
    <li id="likert-caption">
      As suas redes sociais estão sempre desatualizadas e/ou só existem para
      divulgação de preço e produtos.
    </li>
    <div id="likert-values">
      <li>1<input type="radio" name="q5" value="1" required /></li>
      <li>2<input type="radio" name="q5" value="2" /></li>
      <li>3<input type="radio" name="q5" value="3" /></li>
      <li>4<input type="radio" name="q5" value="4" /></li>
      <li>5<input type="radio" name="q5" value="5" /></li>
      <li>6<input type="radio" name="q5" value="6" /></li>
      <li>7<input type="radio" name="q5" value="7" /></li>
      <li>8<input type="radio" name="q5" value="8" /></li>
      <li>9<input type="radio" name="q5" value="9" /></li>
      <li>10<input type="radio" name="q5" value="10" /></li>
    </div>
    <li id="likert-caption">
      Sua empresa usa o marketing digital para vender e construir relacionamentos com os clientes, fornecendo conteúdo de boa qualidade.
    </li>
  </ul>
</div>

<div class="formGroup">
  <label for="q6" id="likert-enunciate">
    6. Avalie a sua capacidade de levantamento e análise dos
    <b id="accentText">RESULTADOS</b> da sua empresa. <span id="req">*</span>
  </label>

  <ul class="likert">
    <li id="likert-caption">
      Não sei quais são os meus resultados finais, eu sei quanto eu vendo mas
      não sei quanto ganho.
    </li>
    <div id="likert-values">
      <li>1<input type="radio" name="q6" value="1" required /></li>
      <li>2<input type="radio" name="q6" value="2" /></li>
      <li>3<input type="radio" name="q6" value="3" /></li>
      <li>4<input type="radio" name="q6" value="4" /></li>
      <li>5<input type="radio" name="q6" value="5" /></li>
      <li>6<input type="radio" name="q6" value="6" /></li>
      <li>7<input type="radio" name="q6" value="7" /></li>
      <li>8<input type="radio" name="q6" value="8" /></li>
      <li>9<input type="radio" name="q6" value="9" /></li>
      <li>10<input type="radio" name="q6" value="10" /></li>
    </div>
    <li id="likert-caption">
      Minha empresa tem uma DRE bem estruturada e que reflete exatamente os
      resultados da minha empresa.
    </li>
  </ul>
</div>

<div class="formGroup">
  <label for="q7" id="likert-enunciate">
    7. Estamos evoluindo bem, avalie agora o nível de <b id="accentText">PROTEÇÃO DO CAPITAL PRÓPRIO</b>
    da sua empresa. <span id="req">*</span>
  </label>

  <ul class="likert">
    <li id="likert-caption">
      Não existe critério nenhum, eu só pago as despesas e a minha empresa nunca consegue se capitalizar.
    </li>
    <div id="likert-values">
      <li>1<input type="radio" name="q7" value="1" required /></li>
      <li>2<input type="radio" name="q7" value="2" /></li>
      <li>3<input type="radio" name="q7" value="3" /></li>
      <li>4<input type="radio" name="q7" value="4" /></li>
      <li>5<input type="radio" name="q7" value="5" /></li>
      <li>6<input type="radio" name="q7" value="6" /></li>
      <li>7<input type="radio" name="q7" value="7" /></li>
      <li>8<input type="radio" name="q7" value="8" /></li>
      <li>9<input type="radio" name="q7" value="9" /></li>
      <li>10<input type="radio" name="q7" value="10" /></li>
    </div>
    <li id="likert-caption">

      Temos um planejamento e inclusive os investimentos e as retiradas dos sócios são compatíveis com a situação econômica da empresa .
    </li>
  </ul>
</div>

<div class="formGroup">
  <label for="q8" id="likert-enunciate">
    8. Avalie a forma como a sua empresa organiza o seu <b id="accentText">FLUXO DE CAIXA</b>.
    <span id="req">*</span>
  </label>

  <ul class="likert">
    <li id="likert-caption">
      Não existem nenhum organização do contas e pagar e receber.
    </li>
    <div id="likert-values">
      <li>1<input type="radio" name="q8" value="1" required /></li>
      <li>2<input type="radio" name="q8" value="2" /></li>
      <li>3<input type="radio" name="q8" value="3" /></li>
      <li>4<input type="radio" name="q8" value="4" /></li>
      <li>5<input type="radio" name="q8" value="5" /></li>
      <li>6<input type="radio" name="q8" value="6" /></li>
      <li>7<input type="radio" name="q8" value="7" /></li>
      <li>8<input type="radio" name="q8" value="8" /></li>
      <li>9<input type="radio" name="q8" value="9" /></li>
      <li>10<input type="radio" name="q8" value="10" /></li>
    </div>
    <li id="likert-caption">
      Sua empresa tem um fluxo de caixa feito em sistema, que todo dia é
      atualizado e bate com a conciliação bancária.
    </li>
  </ul>
</div>

<div class="formGroup">
  <label for="q9" id="likert-enunciate">
    9. Como você avalia o <b id="accentText">SISTEMA DE REMUNERAÇÃO</b> dos seus funcionários.
    <span id="req">*</span>
  </label>

  <ul class="likert">
    <li id="likert-caption">
      Não temos um "sistema de remuneração", só pagamos salários fixos e nossa
      remuneração se encontra abaixo da média do mercado.
    </li>
    <div id="likert-values">
      <li>1<input type="radio" name="q9" value="1" required /></li>
      <li>2<input type="radio" name="q9" value="2" /></li>
      <li>3<input type="radio" name="q9" value="3" /></li>
      <li>4<input type="radio" name="q9" value="4" /></li>
      <li>5<input type="radio" name="q9" value="5" /></li>
      <li>6<input type="radio" name="q9" value="6" /></li>
      <li>7<input type="radio" name="q9" value="7" /></li>
      <li>8<input type="radio" name="q9" value="8" /></li>
      <li>9<input type="radio" name="q9" value="9" /></li>
      <li>10<input type="radio" name="q9" value="10" /></li>
    </div>
    <li id="likert-caption">
      A sua empresa oferece remuneração compatível com o seu mercado e tem um
      sistema de comissionamento que gera engajamento e motivação da equipe .
    </li>
  </ul>
</div>

<div class="formGroup">
  <label for="q10" id="likert-enunciate">
    10. Como você avalia os <b id="accentText">PROCESSOS</b> da sua empresa. <span id="req">*</span>
  </label>

  <ul class="likert">
    <li id="likert-caption">
      Não existe nada relacionado a isso e seus funcionários é que criam as suas
      maneiras próprias de fazer as atividades.
    </li>
    <div id="likert-values">
      <li>1<input type="radio" name="q10" value="1" required /></li>
      <li>2<input type="radio" name="q10" value="2" /></li>
      <li>3<input type="radio" name="q10" value="3" /></li>
      <li>4<input type="radio" name="q10" value="4" /></li>
      <li>5<input type="radio" name="q10" value="5" /></li>
      <li>6<input type="radio" name="q10" value="6" /></li>
      <li>7<input type="radio" name="q10" value="7" /></li>
      <li>8<input type="radio" name="q10" value="8" /></li>
      <li>9<input type="radio" name="q10" value="9" /></li>
      <li>10<input type="radio" name="q10" value="10" /></li>
    </div>
    <li id="likert-caption">
      A sua empresa tem todos os processos que são relevantes bem mapeados e com
      a execução controlada através de indicadores de performance.
    </li>
  </ul>
</div>

<div class="formGroup">
  <label for="q11" id="likert-enunciate">
    11. Estamos quase chegando lá, avalie agora a sua <b id="accentText">COMUNICAÇÃO</b> junto a equipe
    da sua empresa. <span id="req">*</span>
  </label>

  <ul class="likert">
    <li id="likert-caption">
      Você se comunica o mínimo possível e ainda fique desconfortável com isso.
    </li>
    <div id="likert-values">
      <li>1<input type="radio" name="q11" value="1" required /></li>
      <li>2<input type="radio" name="q11" value="2" /></li>
      <li>3<input type="radio" name="q11" value="3" /></li>
      <li>4<input type="radio" name="q11" value="4" /></li>
      <li>5<input type="radio" name="q11" value="5" /></li>
      <li>6<input type="radio" name="q11" value="6" /></li>
      <li>7<input type="radio" name="q11" value="7" /></li>
      <li>8<input type="radio" name="q11" value="8" /></li>
      <li>9<input type="radio" name="q11" value="9" /></li>
      <li>10<input type="radio" name="q11" value="10" /></li>
    </div>
    <li id="likert-caption">
      Você tem uma comunicação efetiva, fluente e com naturalidade.
    </li>
  </ul>
</div>

<div class="formGroup">
  <label for="q12" id="likert-enunciate">
    12. Avalie o seu sistema de <b id="accentText">FORMULAÇÃO DE METAS.</b>
    <span id="req">*</span>
  </label>

  <ul class="likert">
    <li id="likert-caption">
      Não existem metas na sua empresa e os seus funcionários produzem e vendem
      “o que dá pra fazer”.
    </li>
    <div id="likert-values">
      <li>1<input type="radio" name="q12" value="1" required /></li>
      <li>2<input type="radio" name="q12" value="2" /></li>
      <li>3<input type="radio" name="q12" value="3" /></li>
      <li>4<input type="radio" name="q12" value="4" /></li>
      <li>5<input type="radio" name="q12" value="5" /></li>
      <li>6<input type="radio" name="q12" value="6" /></li>
      <li>7<input type="radio" name="q12" value="7" /></li>
      <li>8<input type="radio" name="q12" value="8" /></li>
      <li>9<input type="radio" name="q12" value="9" /></li>
      <li>10<input type="radio" name="q12" value="10" /></li>
    </div>
    <li id="likert-caption">
      Sua empresa tem metas, elas são claras, estimulantes e realizáveis e são
      batidas quase todos os meses.
    </li>
  </ul>
</div>

<div class="formGroup">
  <label for="q13" id="likert-enunciate">
    13. Avalie a <b id="accentText">CULTURA</b> da sua empresa. <span id="req">*</span>
  </label>

  <ul class="likert">
    <li id="likert-caption">
      Não exista nada com relação a identidade cultural na sua empresa.
    </li>
    <div id="likert-values">
      <li>1<input type="radio" name="q13" value="1" required /></li>
      <li>2<input type="radio" name="q13" value="2" /></li>
      <li>3<input type="radio" name="q13" value="3" /></li>
      <li>4<input type="radio" name="q13" value="4" /></li>
      <li>5<input type="radio" name="q13" value="5" /></li>
      <li>6<input type="radio" name="q13" value="6" /></li>
      <li>7<input type="radio" name="q13" value="7" /></li>
      <li>8<input type="radio" name="q13" value="8" /></li>
      <li>9<input type="radio" name="q13" value="9" /></li>
      <li>10<input type="radio" name="q13" value="10" /></li>
    </div>
    <li id="likert-caption">
      Sua empresa tem uma Visão de Futuro, Missão e Valores claramente definidos
      e amplamente conhecidos pelas pessoas da sua empresa.
    </li>
  </ul>
</div>

<div class="formGroup">
  <label for="q14" id="likert-enunciate">
    14. Avalie como anda a sua <b id="accentText">MOTIVAÇÃO COMO EMPRESÁRIO(A)</b>.
    <span id="req">*</span>
  </label>

  <ul class="likert">
    <li id="likert-caption">
      Você anda se sentindo esgotado, com pouca paciência para resolver os
      problemas da sua empresa e até está se sentindo sem perspectivas.
    </li>
    <div id="likert-values">
      <li>1<input type="radio" name="q14" value="1" required /></li>
      <li>2<input type="radio" name="q14" value="2" /></li>
      <li>3<input type="radio" name="q14" value="3" /></li>
      <li>4<input type="radio" name="q14" value="4" /></li>
      <li>5<input type="radio" name="q14" value="5" /></li>
      <li>6<input type="radio" name="q14" value="6" /></li>
      <li>7<input type="radio" name="q14" value="7" /></li>
      <li>8<input type="radio" name="q14" value="8" /></li>
      <li>9<input type="radio" name="q14" value="9" /></li>
      <li>10<input type="radio" name="q14" value="10" /></li>
    </div>
    <li id="likert-caption">
      As perspectivas da sua empresa são excelentes e você sente prazer em
      trabalhar.
    </li>
  </ul>
</div>

<div class="formGroup">
  <label for="q15" id="likert-enunciate">
    15. E por fim, avalie o seu <b id="accentText">MODELO DE DELEGAÇÃO.</b> <span id="req">*</span>
  </label>

  <ul class="likert">
    <li id="likert-caption">
      Você entende que na sua empresa ninguém merece essa “confiança” e só você
      é quem sabe mandar e fazer as coisas.
    </li>
    <div id="likert-values">
      <li>1<input type="radio" name="q15" value="1" required /></li>
      <li>2<input type="radio" name="q15" value="2" /></li>
      <li>3<input type="radio" name="q15" value="3" /></li>
      <li>4<input type="radio" name="q15" value="4" /></li>
      <li>5<input type="radio" name="q15" value="5" /></li>
      <li>6<input type="radio" name="q15" value="6" /></li>
      <li>7<input type="radio" name="q15" value="7" /></li>
      <li>8<input type="radio" name="q15" value="8" /></li>
      <li>9<input type="radio" name="q15" value="9" /></li>
      <li>10<input type="radio" name="q15" value="10" /></li>
    </div>
    <li id="likert-caption">
      Delegar pra você é um hábito natural e você sempre está formando pessoas
      que mereçam a sua confiança.
    </li>
  </ul>
</div>
