<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row">
        <div class="col">
            <div class="formGroup contactDataGroup">
                <label for="nomeContato"> Nome Completo : <span id="req">*</span> </label>
                <input type="text" name="nomeContato" id="nomeContato" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="formGroup contactDataGroup">
                <label for="emailContato"> Whatsapp : <span id="req">*</span> </label>
                <input type="tel" name="emailContato" id="emailContato" maxlength="20" minlength="8" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="formGroup contactDataGroup">
                <label for="nomeEmpresa"> Nome da Sua Empresa : <span id="req">*</span> </label>
                <input type="text" name="nomeEmpresa" id="nomeEmpresa" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="formGroup contactDataGroup">
                <label for="tipoProfissional"> Tipo de Profissional : <span id="req">*</span> </label>
                <select name="tipoProfissional" id="tipoProfissional">
                    <option disabled selected value=""> SELECIONE </option>
                    <option value="empresario">Empresário</option>
                    <option value="profissional_liberal_empreendedor">Profissional Liberal Empreendedor</option>
                    <option value="outros">Outros</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="formGroup contactDataGroup">
                <label for="quantidadeFunc"> Quantidade de Funcionários : <span id="req">*</span> </label>
                <select name="quantidadeFunc" id="quantidadeFunc">
                    <option disabled selected value=""> SELECIONE </option>
                    <option value="0">Trabalho sozinho</option>
                    <option value="1-10">1 a 10</option>
                    <option value="11-50">11 a 50</option>
                    <option value="51-100">51 a 100</option>
                    <option value="101-200">101 a 200</option>
                    <option value="200+">200 ou mais</option>
                </select>
            </div>
        </div>
    </div>

    <br> 
    
    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q1">
            1. Como você avalia o nível de <b id="accentText"> DIFERENCIAÇÃO </b> dos seus
            produtos/serviços? <span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 - Não existem claros pontos de diferenciação em suas ofertas e elas são
                sempre muito parecidas com as da concorrência.</p>
        </div>

        <div class="col-sm-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                    <li>1<input type="radio" name="q1" value="1" required /></li>
                    <li>2<input type="radio" name="q1" value="2" /></li>
                    <li>3<input type="radio" name="q1" value="3" /></li>
                    <li>4<input type="radio" name="q1" value="4" /></li>
                    <li>5<input type="radio" name="q1" value="5" /></li>
                    <li>6<input type="radio" name="q1" value="6" /></li>
                    <li>7<input type="radio" name="q1" value="7" /></li>
                    <li>8<input type="radio" name="q1" value="8" /></li>
                    <li>9<input type="radio" name="q1" value="9" /></li>
                    <li>10<input type="radio" name="q1" value="10" /></li>
                </div>
            </ul>
        </div>

        <div class="col-sm-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - Seus Produtos/Serviços são amplamente diferenciados e essa diferenciação é
                percebida pelos seus clientes.</p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q2">
            2. E quanto ao <b id="accentText"> NÍVEL DE PROCURA </b> dos produtos/serviços da sua
            empresa? <span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 -  A procura (volume de clientes) nunca é suficiente para bater as suas
                metas.</p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                    <li>1<input type="radio" name="q2" value="1" required /></li>
                    <li>2<input type="radio" name="q2" value="2" /></li>
                    <li>3<input type="radio" name="q2" value="3" /></li>
                    <li>4<input type="radio" name="q2" value="4" /></li>
                    <li>5<input type="radio" name="q2" value="5" /></li>
                    <li>6<input type="radio" name="q2" value="6" /></li>
                    <li>7<input type="radio" name="q2" value="7" /></li>
                    <li>8<input type="radio" name="q2" value="8" /></li>
                    <li>9<input type="radio" name="q2" value="9" /></li>
                    <li>10<input type="radio" name="q2" value="10" /></li>
                </div>
            </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - Sua empresa sempre tem uma procura suficiente para atingir suas metas.</p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q3">
            3. Você tem algum <b id="accentText"> SISTEMA DE AVALIAÇÃO DE SATISFAÇÃO </b> dos seus
            clientes? <span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 -  Você não tem nenhum sistema e/ou os resultados são muito ruins.</p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                    <li>1<input type="radio" name="q3" value="1" required /></li>
                    <li>2<input type="radio" name="q3" value="2" /></li>
                    <li>3<input type="radio" name="q3" value="3" /></li>
                    <li>4<input type="radio" name="q3" value="4" /></li>
                    <li>5<input type="radio" name="q3" value="5" /></li>
                    <li>6<input type="radio" name="q3" value="6" /></li>
                    <li>7<input type="radio" name="q3" value="7" /></li>
                    <li>8<input type="radio" name="q3" value="8" /></li>
                    <li>9<input type="radio" name="q3" value="9" /></li>
                    <li>10<input type="radio" name="q3" value="10" /></li>
                </div>
            </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - Você tem um sistema 100% estruturado, com avaliações mensais e os
                resultados são excelentes.</p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q4">
            4. Vamos lá, como anda a sua empresa quanto <b id="accentText">INOVAÇÃO?</b>
            <span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 - Na sua empresa não existe uma cultura de inovação e pouquíssimas coisas
                mudam ao longo do tempo.</p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                  <li>1<input type="radio" name="q4" value="1" required /></li>
                  <li>2<input type="radio" name="q4" value="2" /></li>
                  <li>3<input type="radio" name="q4" value="3" /></li>
                  <li>4<input type="radio" name="q4" value="4" /></li>
                  <li>5<input type="radio" name="q4" value="5" /></li>
                  <li>6<input type="radio" name="q4" value="6" /></li>
                  <li>7<input type="radio" name="q4" value="7" /></li>
                  <li>8<input type="radio" name="q4" value="8" /></li>
                  <li>9<input type="radio" name="q4" value="9" /></li>
                  <li>10<input type="radio" name="q4" value="10" /></li>
                </div>
              </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 -       A sua empresa está sempre inovando (tanto nos produtos/serviços como nos
                processos produtivos) e essas inovações impactam positivamente no seu
                faturamento.</p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q5">
            5. E o <b id="accentText">POSICIONAMENTO DIGITAL</b> da sua empresa.
            <span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 -       As suas redes sociais estão sempre desatualizadas e/ou só existem para
                divulgação de preço e produtos.</p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                  <li>1<input type="radio" name="q5" value="1" required /></li>
                  <li>2<input type="radio" name="q5" value="2" /></li>
                  <li>3<input type="radio" name="q5" value="3" /></li>
                  <li>4<input type="radio" name="q5" value="4" /></li>
                  <li>5<input type="radio" name="q5" value="5" /></li>
                  <li>6<input type="radio" name="q5" value="6" /></li>
                  <li>7<input type="radio" name="q5" value="7" /></li>
                  <li>8<input type="radio" name="q5" value="8" /></li>
                  <li>9<input type="radio" name="q5" value="9" /></li>
                  <li>10<input type="radio" name="q5" value="10" /></li>
                </div>
              </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 -  Sua empresa usa o marketing digital para vender e construir relacionamentos com os clientes, fornecendo conteúdo de boa qualidade.</p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q6">
            6. Avalie a sua capacidade de levantamento e análise dos
            <b id="accentText">RESULTADOS</b> da sua empresa. <span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 -        Não sei quais são os meus resultados finais, eu sei quanto eu vendo mas
                não sei quanto ganho.</p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                    <li>1<input type="radio" name="q6" value="1" required /></li>
                    <li>2<input type="radio" name="q6" value="2" /></li>
                    <li>3<input type="radio" name="q6" value="3" /></li>
                    <li>4<input type="radio" name="q6" value="4" /></li>
                    <li>5<input type="radio" name="q6" value="5" /></li>
                    <li>6<input type="radio" name="q6" value="6" /></li>
                    <li>7<input type="radio" name="q6" value="7" /></li>
                    <li>8<input type="radio" name="q6" value="8" /></li>
                    <li>9<input type="radio" name="q6" value="9" /></li>
                    <li>10<input type="radio" name="q6" value="10" /></li>
                </div>
              </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 -       Minha empresa tem uma DRE bem estruturada e que reflete exatamente os
                resultados da minha empresa.</p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q7">
            7. Estamos evoluindo bem, avalie agora o nível de <b id="accentText">PROTEÇÃO DO CAPITAL PRÓPRIO</b>
            da sua empresa. <span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 - Não existe critério nenhum, eu só pago as despesas e a minha empresa nunca consegue se capitalizar.</p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                    <li>1<input type="radio" name="q7" value="1" required /></li>
                    <li>2<input type="radio" name="q7" value="2" /></li>
                    <li>3<input type="radio" name="q7" value="3" /></li>
                    <li>4<input type="radio" name="q7" value="4" /></li>
                    <li>5<input type="radio" name="q7" value="5" /></li>
                    <li>6<input type="radio" name="q7" value="6" /></li>
                    <li>7<input type="radio" name="q7" value="7" /></li>
                    <li>8<input type="radio" name="q7" value="8" /></li>
                    <li>9<input type="radio" name="q7" value="9" /></li>
                    <li>10<input type="radio" name="q7" value="10" /></li>
                </div>
              </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - 
                Temos um planejamento e inclusive os investimentos e as retiradas dos sócios são compatíveis com a situação econômica da empresa .</p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q8">
            8. Avalie a forma como a sua empresa organiza o seu <b id="accentText">FLUXO DE CAIXA</b>.
            <span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 -   Não existem nenhum organização do contas e pagar e receber.</p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                    <li>1<input type="radio" name="q8" value="1" required /></li>
                    <li>2<input type="radio" name="q8" value="2" /></li>
                    <li>3<input type="radio" name="q8" value="3" /></li>
                    <li>4<input type="radio" name="q8" value="4" /></li>
                    <li>5<input type="radio" name="q8" value="5" /></li>
                    <li>6<input type="radio" name="q8" value="6" /></li>
                    <li>7<input type="radio" name="q8" value="7" /></li>
                    <li>8<input type="radio" name="q8" value="8" /></li>
                    <li>9<input type="radio" name="q8" value="9" /></li>
                    <li>10<input type="radio" name="q8" value="10" /></li>
                </div>
              </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - 
                Sua empresa tem um fluxo de caixa feito em sistema, que todo dia é
                atualizado e bate com a conciliação bancária.</p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q9">
            9. Como você avalia o <b id="accentText">SISTEMA DE REMUNERAÇÃO</b> dos seus funcionários.
            <span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 - 
                Não temos um "sistema de remuneração", só pagamos salários fixos e nossa
                remuneração se encontra abaixo da média do mercado.
            </p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                    <li>1<input type="radio" name="q9" value="1" required /></li>
                    <li>2<input type="radio" name="q9" value="2" /></li>
                    <li>3<input type="radio" name="q9" value="3" /></li>
                    <li>4<input type="radio" name="q9" value="4" /></li>
                    <li>5<input type="radio" name="q9" value="5" /></li>
                    <li>6<input type="radio" name="q9" value="6" /></li>
                    <li>7<input type="radio" name="q9" value="7" /></li>
                    <li>8<input type="radio" name="q9" value="8" /></li>
                    <li>9<input type="radio" name="q9" value="9" /></li>
                    <li>10<input type="radio" name="q9" value="10" /></li>
                </div>
              </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - 
                A sua empresa oferece remuneração compatível com o seu mercado e tem um
                sistema de comissionamento que gera engajamento e motivação da equipe .</p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q10">
            10. Como você avalia os <b id="accentText">PROCESSOS</b> da sua empresa. <span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 - 
                Não existe nada relacionado a isso e seus funcionários é que criam as suas
                maneiras próprias de fazer as atividades.do mercado.
            </p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                    <li>1<input type="radio" name="q10" value="1" required /></li>
                    <li>2<input type="radio" name="q10" value="2" /></li>
                    <li>3<input type="radio" name="q10" value="3" /></li>
                    <li>4<input type="radio" name="q10" value="4" /></li>
                    <li>5<input type="radio" name="q10" value="5" /></li>
                    <li>6<input type="radio" name="q10" value="6" /></li>
                    <li>7<input type="radio" name="q10" value="7" /></li>
                    <li>8<input type="radio" name="q10" value="8" /></li>
                    <li>9<input type="radio" name="q10" value="9" /></li>
                    <li>10<input type="radio" name="q10" value="10" /></li>
                </div>
              </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - 
                A sua empresa tem todos os processos que são relevantes bem mapeados e com
                a execução controlada através de indicadores de performance.</p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q11">
            11. Estamos quase chegando lá, avalie agora a sua <b id="accentText">COMUNICAÇÃO</b> junto a equipe
            da sua empresa. <span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 - 
                Você se comunica o mínimo possível e ainda fique desconfortável com isso.
            </p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                    <li>1<input type="radio" name="q11" value="1" required /></li>
                    <li>2<input type="radio" name="q11" value="2" /></li>
                    <li>3<input type="radio" name="q11" value="3" /></li>
                    <li>4<input type="radio" name="q11" value="4" /></li>
                    <li>5<input type="radio" name="q11" value="5" /></li>
                    <li>6<input type="radio" name="q11" value="6" /></li>
                    <li>7<input type="radio" name="q11" value="7" /></li>
                    <li>8<input type="radio" name="q11" value="8" /></li>
                    <li>9<input type="radio" name="q11" value="9" /></li>
                    <li>10<input type="radio" name="q11" value="10" /></li>
                </div>
              </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - 
                Você tem uma comunicação efetiva, fluente e com naturalidade.</p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q12">
            12. Avalie o seu sistema de <b id="accentText">FORMULAÇÃO DE METAS.</b>
            <span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 - 
                Não existem metas na sua empresa e os seus funcionários produzem e vendem
                “o que dá pra fazer”.
            </p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                    <li>1<input type="radio" name="q12" value="1" required /></li>
                    <li>2<input type="radio" name="q12" value="2" /></li>
                    <li>3<input type="radio" name="q12" value="3" /></li>
                    <li>4<input type="radio" name="q12" value="4" /></li>
                    <li>5<input type="radio" name="q12" value="5" /></li>
                    <li>6<input type="radio" name="q12" value="6" /></li>
                    <li>7<input type="radio" name="q12" value="7" /></li>
                    <li>8<input type="radio" name="q12" value="8" /></li>
                    <li>9<input type="radio" name="q12" value="9" /></li>
                    <li>10<input type="radio" name="q12" value="10" /></li>
                </div>
              </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - 
                Sua empresa tem metas, elas são claras, estimulantes e realizáveis e são
                batidas quase todos os meses.
            </p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q13">
            13. Avalie a <b id="accentText">CULTURA</b> da sua empresa. <span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 - 
                Não exista nada com relação a identidade cultural na sua empresa.
            </p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                    <li>1<input type="radio" name="q13" value="1" required /></li>
                    <li>2<input type="radio" name="q13" value="2" /></li>
                    <li>3<input type="radio" name="q13" value="3" /></li>
                    <li>4<input type="radio" name="q13" value="4" /></li>
                    <li>5<input type="radio" name="q13" value="5" /></li>
                    <li>6<input type="radio" name="q13" value="6" /></li>
                    <li>7<input type="radio" name="q13" value="7" /></li>
                    <li>8<input type="radio" name="q13" value="8" /></li>
                    <li>9<input type="radio" name="q13" value="9" /></li>
                    <li>10<input type="radio" name="q13" value="10" /></li>
                </div>
              </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - 
                Sua empresa tem uma Visão de Futuro, Missão e Valores claramente definidos
                e amplamente conhecidos pelas pessoas da sua empresa.
            </p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->


<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q14">
            14. Avalie como anda a sua <b id="accentText">MOTIVAÇÃO COMO EMPRESÁRIO(A)</b>.
    <span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 - 
                Você anda se sentindo esgotado, com pouca paciência para resolver os
                problemas da sua empresa e até está se sentindo sem perspectivas.
            </p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                    <li>1<input type="radio" name="q14" value="1" required /></li>
                    <li>2<input type="radio" name="q14" value="2" /></li>
                    <li>3<input type="radio" name="q14" value="3" /></li>
                    <li>4<input type="radio" name="q14" value="4" /></li>
                    <li>5<input type="radio" name="q14" value="5" /></li>
                    <li>6<input type="radio" name="q14" value="6" /></li>
                    <li>7<input type="radio" name="q14" value="7" /></li>
                    <li>8<input type="radio" name="q14" value="8" /></li>
                    <li>9<input type="radio" name="q14" value="9" /></li>
                    <li>10<input type="radio" name="q14" value="10" /></li>
                </div>
              </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - 
                As perspectivas da sua empresa são excelentes e você sente prazer em
                trabalhar.
            </p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->


<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q15">
            15. E por fim, avalie o seu <b id="accentText">MODELO DE DELEGAÇÃO.</b> <span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 - 
                Você entende que na sua empresa ninguém merece essa “confiança” e só você
                é quem sabe mandar e fazer as coisas.
            </p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                    <li>1<input type="radio" name="q15" value="1" required /></li>
                    <li>2<input type="radio" name="q15" value="2" /></li>
                    <li>3<input type="radio" name="q15" value="3" /></li>
                    <li>4<input type="radio" name="q15" value="4" /></li>
                    <li>5<input type="radio" name="q15" value="5" /></li>
                    <li>6<input type="radio" name="q15" value="6" /></li>
                    <li>7<input type="radio" name="q15" value="7" /></li>
                    <li>8<input type="radio" name="q15" value="8" /></li>
                    <li>9<input type="radio" name="q15" value="9" /></li>
                    <li>10<input type="radio" name="q15" value="10" /></li>
                </div>
              </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - 
                Delegar pra você é um hábito natural e você sempre está formando pessoas
                que mereçam a sua confiança.
            </p>
        </div>

    </div>
</div>
<!-- ############### FIM PERGUNTA ############### -->
