<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row">
        <div class="col">
            <div class="formGroup contactDataGroup">
                <label for="nomeContato"> Nome Completo : <span id="req">*</span> </label>
                <input type="text" name="nomeContato" id="nomeContato" required>
            </div>
        </div>
    </div>

    <!--     <div class="row">
        <div class="col">
            <div class="formGroup contactDataGroup">
                <label for="emailContato"> Whatsapp : <span id="req">*</span> </label>
                <input type="tel" name="emailContato" id="emailContato" maxlength="20" minlength="8" required>
            </div>
        </div>
    </div> -->


    <br> 
    
    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q1">
            1.<b id="accentText"> Conhecimento das Forças e Fraquezas.</b> Como você avalia o seu nível de conhecimentos dos pontos fortes e fracos da sua empresa<span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 - Não existem conhecimentos claros sobre os pontos</p>
        </div>

        <div class="col-sm-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                    <li>1<input type="radio" name="q1" value="1" required /></li>
                    <li>2<input type="radio" name="q1" value="2" /></li>
                    <li>3<input type="radio" name="q1" value="3" /></li>
                    <li>4<input type="radio" name="q1" value="4" /></li>
                    <li>5<input type="radio" name="q1" value="5" /></li>
                    <li>6<input type="radio" name="q1" value="6" /></li>
                    <li>7<input type="radio" name="q1" value="7" /></li>
                    <li>8<input type="radio" name="q1" value="8" /></li>
                    <li>9<input type="radio" name="q1" value="9" /></li>
                    <li>10<input type="radio" name="q1" value="10" /></li>
                </div>
            </ul>
        </div>

        <div class="col-sm-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - Todos os pontos são conhecidos e mapeados. </p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q2">
            2. <b id="accentText">Conhecimento das Oportunidades e Ameaças.</b> Como você avalia o seu nível de consciência quanto as oportunidades e ameaças proporcionadas pelo mercado que você atua e pelo ambiente econômico do Brasil.<span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 - Não existem conhecimentos claros sobre os pontos. </p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                    <li>1<input type="radio" name="q2" value="1" required /></li>
                    <li>2<input type="radio" name="q2" value="2" /></li>
                    <li>3<input type="radio" name="q2" value="3" /></li>
                    <li>4<input type="radio" name="q2" value="4" /></li>
                    <li>5<input type="radio" name="q2" value="5" /></li>
                    <li>6<input type="radio" name="q2" value="6" /></li>
                    <li>7<input type="radio" name="q2" value="7" /></li>
                    <li>8<input type="radio" name="q2" value="8" /></li>
                    <li>9<input type="radio" name="q2" value="9" /></li>
                    <li>10<input type="radio" name="q2" value="10" /></li>
                </div>
            </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - 
                Todos os pontos são conhecidos e mapeados. </p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q3">
            3. <b id="accentText">Criação de Estratégias com base nas Forças/Fraquezas e Oportunidades/Ameaças.</b> Como você avalia a quantidade e qualidade das estratégias que você tem criado para melhorar o desempenho geral da sua empresa.<span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 - Acredito que não possuo estratégias claras e fetivas.</p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                    <li>1<input type="radio" name="q3" value="1" required /></li>
                    <li>2<input type="radio" name="q3" value="2" /></li>
                    <li>3<input type="radio" name="q3" value="3" /></li>
                    <li>4<input type="radio" name="q3" value="4" /></li>
                    <li>5<input type="radio" name="q3" value="5" /></li>
                    <li>6<input type="radio" name="q3" value="6" /></li>
                    <li>7<input type="radio" name="q3" value="7" /></li>
                    <li>8<input type="radio" name="q3" value="8" /></li>
                    <li>9<input type="radio" name="q3" value="9" /></li>
                    <li>10<input type="radio" name="q3" value="10" /></li>
                </div>
            </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - Acredito que estou seguindo no caminho certo com estratégias bem definidas e executas.</p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q4">
            4. <b id="accentText">Quanto a Visão de Futuro,</b> formalizada, clara e influenciadora no seu dia a dia como empresário. Sua empresa tem uma Visão de Futuro formalizada, clara e que influencia as suas decisões como empresário?
            <span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 - Minha empresa não possui uma Visão de Futuro.</p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                  <li>1<input type="radio" name="q4" value="1" required /></li>
                  <li>2<input type="radio" name="q4" value="2" /></li>
                  <li>3<input type="radio" name="q4" value="3" /></li>
                  <li>4<input type="radio" name="q4" value="4" /></li>
                  <li>5<input type="radio" name="q4" value="5" /></li>
                  <li>6<input type="radio" name="q4" value="6" /></li>
                  <li>7<input type="radio" name="q4" value="7" /></li>
                  <li>8<input type="radio" name="q4" value="8" /></li>
                  <li>9<input type="radio" name="q4" value="9" /></li>
                  <li>10<input type="radio" name="q4" value="10" /></li>
                </div>
              </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - Minha empresa possui e a Visão de Futuro faz parte da nossa cultura.</p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q5">
            5.<b id="accentText"> Quanto a Missão,</b> formalizada, clara e engajadora e difundida entre os colaboradores. Sua empresa tem uma Missão clara, difundida entre os seus funcionários e na qual eles estão engajados?
            <span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 - Minha empresa não possui uma Missão</p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                  <li>1<input type="radio" name="q5" value="1" required /></li>
                  <li>2<input type="radio" name="q5" value="2" /></li>
                  <li>3<input type="radio" name="q5" value="3" /></li>
                  <li>4<input type="radio" name="q5" value="4" /></li>
                  <li>5<input type="radio" name="q5" value="5" /></li>
                  <li>6<input type="radio" name="q5" value="6" /></li>
                  <li>7<input type="radio" name="q5" value="7" /></li>
                  <li>8<input type="radio" name="q5" value="8" /></li>
                  <li>9<input type="radio" name="q5" value="9" /></li>
                  <li>10<input type="radio" name="q5" value="10" /></li>
                </div>
              </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - 
                Minha empresa possui e a Missão faz parte da nossa cultura.</p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q6">
            6.<b id="accentText">Quanto aos Valores (Princípios).</b> Sua empresa tem Valores claramente definidos? Eles são de pleno conhecimento dos seus funcionários e você acredita que esses Valores influenciam na atitude deles na sua empresa?<span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 -Não, os valores não são definidos e não compartilhados. </p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                    <li>1<input type="radio" name="q6" value="1" required /></li>
                    <li>2<input type="radio" name="q6" value="2" /></li>
                    <li>3<input type="radio" name="q6" value="3" /></li>
                    <li>4<input type="radio" name="q6" value="4" /></li>
                    <li>5<input type="radio" name="q6" value="5" /></li>
                    <li>6<input type="radio" name="q6" value="6" /></li>
                    <li>7<input type="radio" name="q6" value="7" /></li>
                    <li>8<input type="radio" name="q6" value="8" /></li>
                    <li>9<input type="radio" name="q6" value="9" /></li>
                    <li>10<input type="radio" name="q6" value="10" /></li>
                </div>
              </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - 
                Os valores foram definidos, são compartilhados para toda a empresa e reconhecemos nos colaboradores. </p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q7">
            7. <b id="accentText"> Quanto a existência de Objetivos Estratégicos </b> A sua Visão de Futuro para a sua empresa está traduzida em Objetivos Estratégicos claros, bem difundidos na sua empresa e gerando engajamento dos seus funcionários? <span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 - Não há objetivos estratégicos claros</p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                    <li>1<input type="radio" name="q7" value="1" required /></li>
                    <li>2<input type="radio" name="q7" value="2" /></li>
                    <li>3<input type="radio" name="q7" value="3" /></li>
                    <li>4<input type="radio" name="q7" value="4" /></li>
                    <li>5<input type="radio" name="q7" value="5" /></li>
                    <li>6<input type="radio" name="q7" value="6" /></li>
                    <li>7<input type="radio" name="q7" value="7" /></li>
                    <li>8<input type="radio" name="q7" value="8" /></li>
                    <li>9<input type="radio" name="q7" value="9" /></li>
                    <li>10<input type="radio" name="q7" value="10" /></li>
                </div>
              </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - 
                Possuo objetivos estratégicos claros ligados diretamente a Visão de Futuro.</p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q8">
            8. <b id="accentText"> Quanto a existência de Metas e a qualidade dessas metas.</b> Sua empresa tem Metas alinhadas com a sua Visão? Você considera que essas Metas sejam suficientemente específicas, mensuráveis, alcançáveis e sempre tem datas limites?
            <span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 - Não existem metas definidas ou claras para toda a empresa.</p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                    <li>1<input type="radio" name="q8" value="1" required /></li>
                    <li>2<input type="radio" name="q8" value="2" /></li>
                    <li>3<input type="radio" name="q8" value="3" /></li>
                    <li>4<input type="radio" name="q8" value="4" /></li>
                    <li>5<input type="radio" name="q8" value="5" /></li>
                    <li>6<input type="radio" name="q8" value="6" /></li>
                    <li>7<input type="radio" name="q8" value="7" /></li>
                    <li>8<input type="radio" name="q8" value="8" /></li>
                    <li>9<input type="radio" name="q8" value="9" /></li>
                    <li>10<input type="radio" name="q8" value="10" /></li>
                </div>
              </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - 
                As metas são bem definidas e fazem parte da rotina de toda a empresa.</p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q9">
            9. <b id="accentText">Quanto a existência e uso de Indicadores de Desempenho.</b> A sua gestão é baseada em Indicadores de Desempenho? Esses Indicadores estão diretamente associados aos Objetivos Estratégicos e as Metas da empresa?
            <span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 - 
                Não temos uma gestão baseada em indicadores.
            </p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                    <li>1<input type="radio" name="q9" value="1" required /></li>
                    <li>2<input type="radio" name="q9" value="2" /></li>
                    <li>3<input type="radio" name="q9" value="3" /></li>
                    <li>4<input type="radio" name="q9" value="4" /></li>
                    <li>5<input type="radio" name="q9" value="5" /></li>
                    <li>6<input type="radio" name="q9" value="6" /></li>
                    <li>7<input type="radio" name="q9" value="7" /></li>
                    <li>8<input type="radio" name="q9" value="8" /></li>
                    <li>9<input type="radio" name="q9" value="9" /></li>
                    <li>10<input type="radio" name="q9" value="10" /></li>
                </div>
              </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - Os indicadores, assim como metas e objetivos fazem parte de todas as áreas da empresa.</p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q10">
            10.<b id="accentText"> Quanto a rotina de Reuniões</b> em torno desses Objetivos e Metas. Existe uma RMA - Reunião Mensal de Avaliação de Resultados dessas metas? Nessa reunião também é produzido algum tipo de Plano de Ação para o atingimento dessas Metas e Objetivos?
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 - 
                Não existe nenhum alinhamento voltado para este intuito.
            </p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                    <li>1<input type="radio" name="q10" value="1" required /></li>
                    <li>2<input type="radio" name="q10" value="2" /></li>
                    <li>3<input type="radio" name="q10" value="3" /></li>
                    <li>4<input type="radio" name="q10" value="4" /></li>
                    <li>5<input type="radio" name="q10" value="5" /></li>
                    <li>6<input type="radio" name="q10" value="6" /></li>
                    <li>7<input type="radio" name="q10" value="7" /></li>
                    <li>8<input type="radio" name="q10" value="8" /></li>
                    <li>9<input type="radio" name="q10" value="9" /></li>
                    <li>10<input type="radio" name="q10" value="10" /></li>
                </div>
              </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - 
                Há reuniões específicas e bem organizadas para o acompanhamento de resultados de todos os níveis de gestão da empresa. </p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->
