<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row">
        <div class="col">
            <div class="formGroup contactDataGroup">
                <label for="nomeContato"> Nome Completo : <span id="req">*</span> </label>
                <input type="text" name="nomeContato" id="nomeContato" required>
            </div>
        </div>
    </div>

    <!--     <div class="row">
        <div class="col">
            <div class="formGroup contactDataGroup">
                <label for="emailContato"> Whatsapp : <span id="req">*</span> </label>
                <input type="tel" name="emailContato" id="emailContato" maxlength="20" minlength="8" required>
            </div>
        </div>
    </div> -->


    <br> 
    
    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q1">
            1. COMO VOCÊ AVALIA A SUA ATITUDE QUANTO AO GERENCIAMENTO DOS PROCESSOS OPERACIONAIS DA SUA EMPRESA, INCUINDO AS ROTINAS ADMINISTRATIVAS. <span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 - Se você se sente completamente desconfortável em ter que acompanhar, cobrar e constate que as pessoas envolvidas nessas atividades têm desempenho muito insatisfatório. </p>
        </div>

        <div class="col-sm-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                    <li>1<input type="radio" name="q1" value="1" required /></li>
                    <li>2<input type="radio" name="q1" value="2" /></li>
                    <li>3<input type="radio" name="q1" value="3" /></li>
                    <li>4<input type="radio" name="q1" value="4" /></li>
                    <li>5<input type="radio" name="q1" value="5" /></li>
                    <li>6<input type="radio" name="q1" value="6" /></li>
                    <li>7<input type="radio" name="q1" value="7" /></li>
                    <li>8<input type="radio" name="q1" value="8" /></li>
                    <li>9<input type="radio" name="q1" value="9" /></li>
                    <li>10<input type="radio" name="q1" value="10" /></li>
                </div>
            </ul>
        </div>

        <div class="col-sm-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - Caso acompanhar e cobrar tudo isso faça parte das suas rotinas normais de trabalho e você o faça com metodologia e de uma forma que tenha impacto direto nas melhorias e resultados. </p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q2">
            2. QUANTO AO PLANEJAMENTO DESSES PROCESSOS OPERACIONAIS E DAS ROTINAS ADMINISTRATIVAS.  <span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 - Caso não exista um planejamento pré-estabelecido e como consequência disso a sua empresa não tem sequer metas na sua área de produção. </p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                    <li>1<input type="radio" name="q2" value="1" required /></li>
                    <li>2<input type="radio" name="q2" value="2" /></li>
                    <li>3<input type="radio" name="q2" value="3" /></li>
                    <li>4<input type="radio" name="q2" value="4" /></li>
                    <li>5<input type="radio" name="q2" value="5" /></li>
                    <li>6<input type="radio" name="q2" value="6" /></li>
                    <li>7<input type="radio" name="q2" value="7" /></li>
                    <li>8<input type="radio" name="q2" value="8" /></li>
                    <li>9<input type="radio" name="q2" value="9" /></li>
                    <li>10<input type="radio" name="q2" value="10" /></li>
                </div>
            </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - 
                Se a sua empresa tem um modelo operacional planejado e esse planejamento está diretamente conectado com a execução dos objetivos e metas da empresa e alcançando os resultados esperados. </p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q3">
            3. QUANTO AO SEU MODELO DE RELACIONAMENTO COM SEUS FORNECEDORES. <span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 - Caso você não tenha nenhum controle quanto a isso e a eficiência dos seus processos operacionais, as suas vendas e até a qualidade da sua empresa estejam sendo comprometidos por falhas dos seus fornecedores. </p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                    <li>1<input type="radio" name="q3" value="1" required /></li>
                    <li>2<input type="radio" name="q3" value="2" /></li>
                    <li>3<input type="radio" name="q3" value="3" /></li>
                    <li>4<input type="radio" name="q3" value="4" /></li>
                    <li>5<input type="radio" name="q3" value="5" /></li>
                    <li>6<input type="radio" name="q3" value="6" /></li>
                    <li>7<input type="radio" name="q3" value="7" /></li>
                    <li>8<input type="radio" name="q3" value="8" /></li>
                    <li>9<input type="radio" name="q3" value="9" /></li>
                    <li>10<input type="radio" name="q3" value="10" /></li>
                </div>
            </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - Se a sua empresa tem fornecedores qualificados, que ajudam a melhor o padrão de vendas e qualidade da sua empresa e você tenha controles com pesquisa mensais de desempenho dos seus fornecedores.  </p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q4">
            4. QUANTO A INCIDÊNCIA DE ERROS E FALHAS NOS SEUS PROCESSOS OPERACIONAIS. 
            <span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 - Se com intensa frequência ocorram falhas nos seus processos produtivos e administrativos, comprometendo o alcance das suas metas comerciais, a satisfação dos seus clientes e você se sinta um “apagador de incêndios” na sua empresa. </p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                  <li>1<input type="radio" name="q4" value="1" required /></li>
                  <li>2<input type="radio" name="q4" value="2" /></li>
                  <li>3<input type="radio" name="q4" value="3" /></li>
                  <li>4<input type="radio" name="q4" value="4" /></li>
                  <li>5<input type="radio" name="q4" value="5" /></li>
                  <li>6<input type="radio" name="q4" value="6" /></li>
                  <li>7<input type="radio" name="q4" value="7" /></li>
                  <li>8<input type="radio" name="q4" value="8" /></li>
                  <li>9<input type="radio" name="q4" value="9" /></li>
                  <li>10<input type="radio" name="q4" value="10" /></li>
                </div>
              </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - 
                Caso os seus processos corram conforme o planejado, e de forma estável, fortalecendo o seu comercial, a qualidade da sua empresa e as falhas sejam eventuais. </p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q5">
            5.QUANTO A POLÍTICA DE TREINAMENTO DAS PESSOAS ENVOLVIDAS COM OS PROCESSOS OPERACIONAIS DA SUA EMPRESA.
            <span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 - Se a sua empresa não tem nada em termos de treinamento tanto dos processos operacionais como administrativos e você sente total desconforto em você mesmo treinar. </p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                  <li>1<input type="radio" name="q5" value="1" required /></li>
                  <li>2<input type="radio" name="q5" value="2" /></li>
                  <li>3<input type="radio" name="q5" value="3" /></li>
                  <li>4<input type="radio" name="q5" value="4" /></li>
                  <li>5<input type="radio" name="q5" value="5" /></li>
                  <li>6<input type="radio" name="q5" value="6" /></li>
                  <li>7<input type="radio" name="q5" value="7" /></li>
                  <li>8<input type="radio" name="q5" value="8" /></li>
                  <li>9<input type="radio" name="q5" value="9" /></li>
                  <li>10<input type="radio" name="q5" value="10" /></li>
                </div>
              </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - Caso a sua empresa tenha uma política que implementa treinamentos periódicos e você inclusive participa ativamente desses treinamentos e os resultados com esses investimentos sejam comprovados com o atingimento das metas operacionais da empresa. </p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q6">
            6. QUANTO AO USO DE TECNOLOGIAS PARA OTIMIZAR OS SEUS PROCESSOS OPERACIONAIS E ROTINAS ADMINISTRATIVAS.  <span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 - Caso você não veja importância nisso e/ou não tenha realizado investimentos nos últimos 3 anos em recursos como sistemas ou máquinas quem melhorem a produtividade dos seus colaboradores. </p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                    <li>1<input type="radio" name="q6" value="1" required /></li>
                    <li>2<input type="radio" name="q6" value="2" /></li>
                    <li>3<input type="radio" name="q6" value="3" /></li>
                    <li>4<input type="radio" name="q6" value="4" /></li>
                    <li>5<input type="radio" name="q6" value="5" /></li>
                    <li>6<input type="radio" name="q6" value="6" /></li>
                    <li>7<input type="radio" name="q6" value="7" /></li>
                    <li>8<input type="radio" name="q6" value="8" /></li>
                    <li>9<input type="radio" name="q6" value="9" /></li>
                    <li>10<input type="radio" name="q6" value="10" /></li>
                </div>
              </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - 
                Se a sua empresa sempre está investindo em recursos tecnológicos, sistemas e máquinas e esses investimentos gerem impactos comprovados no aumento da eficiência operacional e no atingimento das metas comerciais da empresa e/ou redução de custos da empresa. </p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q7">
            7. QUANTO O MODELO DE REMUNERAÇÃO DOS COLABORADORES DAS ÁREAS PRODUTIVAS E/OU ADIMINUSTRATIVA. <span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 - Se a sua empresa não tem um sistema de incentivo salarial por desempenho com base na atingimento de metas e paga apenas salários fixos e a maior parte da equipe ganha apenas o piso da categoria.
            </p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                    <li>1<input type="radio" name="q7" value="1" required /></li>
                    <li>2<input type="radio" name="q7" value="2" /></li>
                    <li>3<input type="radio" name="q7" value="3" /></li>
                    <li>4<input type="radio" name="q7" value="4" /></li>
                    <li>5<input type="radio" name="q7" value="5" /></li>
                    <li>6<input type="radio" name="q7" value="6" /></li>
                    <li>7<input type="radio" name="q7" value="7" /></li>
                    <li>8<input type="radio" name="q7" value="8" /></li>
                    <li>9<input type="radio" name="q7" value="9" /></li>
                    <li>10<input type="radio" name="q7" value="10" /></li>
                </div>
              </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - Caso exista um sistema de remuneração variável claro e muito bem entendido pelos colaboradores e que os conectem diretamente com o atingimento das metas da empresa. </p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q8">
            8. QUANTO AS ESTRATÉGIAS DE PARA A REDUÇÃO DOS CUSTOS DE PRODUÇÃO DA SUA EMPRESA.
            <span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 - Se na sua empresa não existe um plano permanente quanto a isso com objetivos e metas pré-definidas e com controles claros e mecanismos de incentivo a redução de custos.   </p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                    <li>1<input type="radio" name="q8" value="1" required /></li>
                    <li>2<input type="radio" name="q8" value="2" /></li>
                    <li>3<input type="radio" name="q8" value="3" /></li>
                    <li>4<input type="radio" name="q8" value="4" /></li>
                    <li>5<input type="radio" name="q8" value="5" /></li>
                    <li>6<input type="radio" name="q8" value="6" /></li>
                    <li>7<input type="radio" name="q8" value="7" /></li>
                    <li>8<input type="radio" name="q8" value="8" /></li>
                    <li>9<input type="radio" name="q8" value="9" /></li>
                    <li>10<input type="radio" name="q8" value="10" /></li>
                </div>
              </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - Caso a sua empresa tenha metas claras e permanentes para o controle e/ou redução de custos com incentivos que impactem na remuneração das pessoas envolvidas e os resultados estejam sendo amplamente alcançados. </p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q9">
            9. QUANTO EXISTÊNCIA DE METAS E INDICADORES RELACIONADOS OS PROCESSOS OPERACIONAIS E ROTINAS ADMINISTRATIVAS.
            <span id="req">*</span>
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 - 
                Caso não exista nada em termos de metas e indicadores e a área produtiva e administrativa funcione de forma precária, somente reagindo as suas cobranças.
            </p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                    <li>1<input type="radio" name="q9" value="1" required /></li>
                    <li>2<input type="radio" name="q9" value="2" /></li>
                    <li>3<input type="radio" name="q9" value="3" /></li>
                    <li>4<input type="radio" name="q9" value="4" /></li>
                    <li>5<input type="radio" name="q9" value="5" /></li>
                    <li>6<input type="radio" name="q9" value="6" /></li>
                    <li>7<input type="radio" name="q9" value="7" /></li>
                    <li>8<input type="radio" name="q9" value="8" /></li>
                    <li>9<input type="radio" name="q9" value="9" /></li>
                    <li>10<input type="radio" name="q9" value="10" /></li>
                </div>
              </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - Se a sua empresa inicia cada mês com objetivos e metas pré-estabelecidos, esse marcadores estão conectados com as metas de vendas e satisfação dos cliente e vêm sendo amplamente alcançados. </p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->

<!-- ############### INICIO PERGUNTA ############### -->
<div class="container-fluid mb-4">

    <div class="row mb-1" id="enunciate">
        <!-- Enunciado da pergunta -->
        <label for="q10">
            10. QUANTO A CONTRATAÇÃO DE CONSULTORIAS PARA O APRIMORAMENTO CONTÍNUO DOS PROCESSOS DA SUA EMPRESA.
        </label>
    </div>


    <div class="row p-2">
        <!-- Segunda linha do formulario -->

        <div class="col-sm-12 col-md-4">
            <!-- Primeiro texto -->
            <p class="text-center mb-0"> 1 - 
                Caso nunca existam iniciativas quanto a isso e nem você como empresário veja importância nessas questões.
            </p>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Likert -->
            <ul class="likert">
                <div id="likert-values">
                    <li>1<input type="radio" name="q10" value="1" required /></li>
                    <li>2<input type="radio" name="q10" value="2" /></li>
                    <li>3<input type="radio" name="q10" value="3" /></li>
                    <li>4<input type="radio" name="q10" value="4" /></li>
                    <li>5<input type="radio" name="q10" value="5" /></li>
                    <li>6<input type="radio" name="q10" value="6" /></li>
                    <li>7<input type="radio" name="q10" value="7" /></li>
                    <li>8<input type="radio" name="q10" value="8" /></li>
                    <li>9<input type="radio" name="q10" value="9" /></li>
                    <li>10<input type="radio" name="q10" value="10" /></li>
                </div>
              </ul>
        </div>

        <div class="col-sm-12 col-md-4">
            <!-- Segundo Texto -->
            <p class="text-center mb-0"> 10 - 
                Se a sua empresa regularmente procura esse tipo de apoio e tenha um histórico recorrente de implantação de novos métodos e novos processos produtivos e administrativos propostos por alguma assessoria externa. </p>
        </div>

    </div>

</div>
<!-- ############### FIM PERGUNTA ############### -->
